/* Global styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Section: Header and Presentation (Dark Background) */
.dark-background {
    background-color: #1F2937;
}

.container {
    max-width: 1000px;
    padding: 0 40px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    align-items: center;
    padding: 100px 0;
    gap: 40px;
}

.hero-text {
    flex: 1;
}

.hero h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 6px;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0px;
    margin-bottom: 12px;
}

.btn-primary {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.hero-image {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #747C85;
    color: white;
    height: 250px;
}