/* Global styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Section: Header and Presentation (Dark Background) */
.dark-background {
    background-color: #1F2937;
}

.container {
    max-width: 1000px;
    padding: 0 40px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    align-items: center;
    padding: 100px 0;
    gap: 40px;
}

.hero-text {
    flex: 1;
}

.hero h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 6px;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0px;
    margin-bottom: 12px;
}

.btn-primary {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 8px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.hero-image {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #747C85;
    color: white;
    height: 250px;
}

/* Section: Information (Cards) */
.info-section {
    background-color: white;
    text-align: center;
    padding: 20px 20px; 
}

.info-section h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 900px;
    margin: 0 auto;
    flex-wrap: wrap; /* For smaller screen readability */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.card-image-placeholder {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 16px;
}

.card p {
    font-size: 16px;
    color: #555;
    text-align: center;
    margin-top: 10px;
}

/* Section: Quote */
.quote-section {
    background-color: #E5E7EB;
    padding: 100px 40px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
    align-self: flex-end;
    padding: 0px 10px
}

/* Section: Call to Action (CTA) */
.cta-section {
    background-color: white;
    padding: 100px 20px;
}

.cta-container {
    background-color: #3882F6;
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 80px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text h3 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px;
}

.cta-text p {
    color: white;
    margin-top: 5px;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}